*{
    margin-left:5px;
    padding:0;
    background-color: rgb(184, 255, 255);
}

h1{
    text-align: center;
}
p{
    font-size: 16pt;
    font-weight: bold;;
    margin-bottom: 5px;
    margin-left: 5px;
}

.selectmenu{
    width: 150px;
    height: 20px;
    font-size: 14px;
    font-weight: bold;
    background-color: white;
    border-radius: 5px;
}

.option{
    background-color: white;
}

.numInput{
    background-color: white;
    font-size: 14px;
}

.submitBtn{
    margin-top: 17px;
    margin-left: 10px;
    width: 100px;
    height: 25px;
    background: white;
}

.submitBtn:hover{
    background-color: grey;
    transition: 0.3s;
}

